#PhpStorm-specific data
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

#database credentials that depend on local machine
digital-logsheets-res/php/database/databaseLogin.php

#Compiled Smarty templates
**/templates_c

#Docker-related files for Donghee's use
**/Dockerfile
**/docker-compose.yml
