/* ==|== primary styles =====================================================
        __       __         __                       
.-----.|  |--.--|  |.---.-.|__|.--------.--.--.-----.
|  _  ||    <|  _  ||  _  ||  ||        |  |  |  _  |
|_____||__|__|_____||___._||__||__|__|__|___  |_____|
                                        |_____|      
========================================================================== */
/* v3/7/14 TL */

@media only screen and (device-width: 768px) body {line-height:1;}

textarea {
	font-size: 12px;
	padding: 0;
	margin: 10px 0 0 0;
	line-height: 14px;
	width: 340px;
	overflow:hidden;
	overflow-y:hidden;
}

#therm_containerfp {background:#ffffff;padding:0;}/*wfmu home page version*/

#therm_container{padding:3px 0;}/*elsehwere version*/

.usual_slimjm {margin:0.5em;width:480px;height:76px;padding:0.35em 0 0.35em 0.75em;border:1px solid #dfdfdf;background:url(./jm80.png) left no-repeat #ffffff;background-position:3px 4px;}
.usual_slim1 {margin:0.5em;width:480px;height:76px;padding:0.35em 0 0.35em 0.75em;border:1px solid #dfdfdf;background:url(./woofmoo80_2.png) left no-repeat #ffffff;background-position:3px 4px;}
.usual_slim2 {margin:0.5em;width:468px;height:76px;padding:0.35em 0.75em 0.35em 0.75em;border:1px solid #dfdfdf;background:#ffffff;}

.yellow_slim {width:360px;float:right;border:none;}
.pledgeline {float:left;width:356px;}
.pledge_sofar {float:left;/*width:160px;*/}
.pledge_after {float:left;width:240px;margin-left:140px;}
.pledge_button {float:right;width:58px;height:22px;background:url(./pledgebutton_0099dc.png) bottom no-repeat;}
.pledge_button:hover {background:url(./pledgebutton_75a534.png) bottom no-repeat;}
.pledge_button:active {background:url(./pledgebutton_fe57a1.png) bottom no-repeat;}
.next_button {float:right;width:58px;height:22px;background:url(./nextbutton_0099dc.png) bottom no-repeat;}
.next_button:hover {background:url(./nextbutton_75a534.png) bottom no-repeat;}
.next_button:active {background:url(./nextbutton_fe57a1.png) bottom no-repeat;}

.usual_slim1fp {margin:0 0.5em 0 0.5em;width:520px;height:76px;padding:0 1em 0.5em 0.5em;background:url(./woofmoo80_2.png) left no-repeat;}
.usual_slim2fp {margin:0 0.5em 0 0.5em;width:520px;height:76px;padding:0.35em 0.75em 0.35em 0.75em;}
.yellow_afterfp {width:386px;float:left;border:none;}
.yellow_slimfp {width:386px;float:right;border:none;}
.pledgelinefp {float:left;width:386px;}
.pledge_sofarfp {float:left;width:190px;}
.pledge_buttonfp {float:right;width:58px;height:22px;background:url(./pledgebutton_0099dc.png) bottom no-repeat;}
.pledge_buttonfp:hover {background:url(./pledgebutton_75a534.png) bottom no-repeat;}
.pledge_buttonfp:active {background:url(./pledgebutton_fe57a1.png) bottom no-repeat;}
.therm_buttonfp {float:right;width:58px;clear:none;}
.thermlinefp {float:left;width:386px;margin-top:0.45em;}

.thermline {float:left;width:358px;margin-top:0.45em;}
.therm_after {float:left;width:300px; height:6px;}
.therm_sofar {float:left;width:300px; height:6px;background:url(./slim_yel_grad.png) no-repeat;}
.therm_sofar.percent0 {background-position: 0 -606px;}
.therm_sofar.percent1 {background-position: 0 -6px;}
.therm_sofar.percent2 {background-position: 0 -12px;}
.therm_sofar.percent3 {background-position: 0 -18px;}
.therm_sofar.percent4 {background-position: 0 -24px;}
.therm_sofar.percent5 {background-position: 0 -30px;}
.therm_sofar.percent6 {background-position: 0 -36px;}
.therm_sofar.percent7 {background-position: 0 -42px;}
.therm_sofar.percent8 {background-position: 0 -48px;}
.therm_sofar.percent9 {background-position: 0 -54px;}
.therm_sofar.percent10 {background-position: 0 -60px;}
.therm_sofar.percent11 {background-position: 0 -66px;}
.therm_sofar.percent12 {background-position: 0 -72px;}
.therm_sofar.percent13 {background-position: 0 -78px;}
.therm_sofar.percent14 {background-position: 0 -84px;}
.therm_sofar.percent15 {background-position: 0 -90px;}
.therm_sofar.percent16 {background-position: 0 -96px;}
.therm_sofar.percent17 {background-position: 0 -102px;}
.therm_sofar.percent18 {background-position: 0 -108px;}
.therm_sofar.percent19 {background-position: 0 -114px;}
.therm_sofar.percent20 {background-position: 0 -120px;}
.therm_sofar.percent21 {background-position: 0 -126px;}
.therm_sofar.percent22 {background-position: 0 -132px;}
.therm_sofar.percent23 {background-position: 0 -138px;}
.therm_sofar.percent24 {background-position: 0 -144px;}
.therm_sofar.percent25 {background-position: 0 -150px;}
.therm_sofar.percent26 {background-position: 0 -156px;}
.therm_sofar.percent27 {background-position: 0 -162px;}
.therm_sofar.percent28 {background-position: 0 -168px;}
.therm_sofar.percent29 {background-position: 0 -174px;}
.therm_sofar.percent30 {background-position: 0 -180px;}
.therm_sofar.percent31 {background-position: 0 -186px;}
.therm_sofar.percent32 {background-position: 0 -192px;}
.therm_sofar.percent33 {background-position: 0 -198px;}
.therm_sofar.percent34 {background-position: 0 -204px;}
.therm_sofar.percent35 {background-position: 0 -210px;}
.therm_sofar.percent36 {background-position: 0 -216px;}
.therm_sofar.percent37 {background-position: 0 -222px;}
.therm_sofar.percent38 {background-position: 0 -228px;}
.therm_sofar.percent39 {background-position: 0 -234px;}
.therm_sofar.percent40 {background-position: 0 -240px;}
.therm_sofar.percent41 {background-position: 0 -246px;}
.therm_sofar.percent42 {background-position: 0 -252px;}
.therm_sofar.percent43 {background-position: 0 -258px;}
.therm_sofar.percent44 {background-position: 0 -264px;}
.therm_sofar.percent45 {background-position: 0 -270px;}
.therm_sofar.percent46 {background-position: 0 -276px;}
.therm_sofar.percent47 {background-position: 0 -282px;}
.therm_sofar.percent48 {background-position: 0 -288px;}
.therm_sofar.percent49 {background-position: 0 -294px;}
.therm_sofar.percent50 {background-position: 0 -300px;}
.therm_sofar.percent51 {background-position: 0 -306px;}
.therm_sofar.percent52 {background-position: 0 -312px;}
.therm_sofar.percent53 {background-position: 0 -318px;}
.therm_sofar.percent54 {background-position: 0 -324px;}
.therm_sofar.percent55 {background-position: 0 -330px;}
.therm_sofar.percent56 {background-position: 0 -336px;}
.therm_sofar.percent57 {background-position: 0 -342px;}
.therm_sofar.percent58 {background-position: 0 -348px;}
.therm_sofar.percent59 {background-position: 0 -354px;}
.therm_sofar.percent60 {background-position: 0 -360px;}
.therm_sofar.percent61 {background-position: 0 -366px;}
.therm_sofar.percent62 {background-position: 0 -372px;}
.therm_sofar.percent63 {background-position: 0 -378px;}
.therm_sofar.percent64 {background-position: 0 -384px;}
.therm_sofar.percent65 {background-position: 0 -390px;}
.therm_sofar.percent66 {background-position: 0 -396px;}
.therm_sofar.percent67 {background-position: 0 -402px;}
.therm_sofar.percent68 {background-position: 0 -408px;}
.therm_sofar.percent69 {background-position: 0 -414px;}
.therm_sofar.percent70 {background-position: 0 -420px;}
.therm_sofar.percent71 {background-position: 0 -426px;}
.therm_sofar.percent72 {background-position: 0 -432px;}
.therm_sofar.percent73 {background-position: 0 -438px;}
.therm_sofar.percent74 {background-position: 0 -444px;}
.therm_sofar.percent75 {background-position: 0 -450px;}
.therm_sofar.percent76 {background-position: 0 -456px;}
.therm_sofar.percent77 {background-position: 0 -462px;}
.therm_sofar.percent78 {background-position: 0 -468px;}
.therm_sofar.percent79 {background-position: 0 -474px;}
.therm_sofar.percent80 {background-position: 0 -480px;}
.therm_sofar.percent81 {background-position: 0 -486px;}
.therm_sofar.percent82 {background-position: 0 -492px;}
.therm_sofar.percent83 {background-position: 0 -498px;}
.therm_sofar.percent84 {background-position: 0 -504px;}
.therm_sofar.percent85 {background-position: 0 -510px;}
.therm_sofar.percent86 {background-position: 0 -516px;}
.therm_sofar.percent87 {background-position: 0 -522px;}
.therm_sofar.percent88 {background-position: 0 -528px;}
.therm_sofar.percent89 {background-position: 0 -534px;}
.therm_sofar.percent90 {background-position: 0 -540px;}
.therm_sofar.percent91 {background-position: 0 -546px;}
.therm_sofar.percent92 {background-position: 0 -552px;}
.therm_sofar.percent93 {background-position: 0 -558px;}
.therm_sofar.percent94 {background-position: 0 -564px;}
.therm_sofar.percent95 {background-position: 0 -570px;}
.therm_sofar.percent96 {background-position: 0 -576px;}
.therm_sofar.percent97 {background-position: 0 -582px;}
.therm_sofar.percent98 {background-position: 0 -588px;}
.therm_sofar.percent99 {background-position: 0 -594px;}
.therm_sofar.percent100 {background-position: 0 -600px;}

.therm_button {float:right;width:58px;clear:none;}
.yellow_therm {height:12px; width:360px;margin:0;float:left;border:none;}

    h2.slim {
		line-height:1.15em; /*added feb 2014*/
		text-align:left;
		font-size:100%;
		font-family:"Myriad Pro", Arial-narrow, Sans-Serif;
		margin:0.18em 0 0 0; /*tweaked feb 2014*/
		padding:0;
		font-weight:normal;
		letter-spacing:0.02em;
		color:#006da1;
}
    h2.afterslim {
		line-height:1.15em; /*added feb 2014*/
		text-align:center;
		font-size:100%;
		font-family:"Myriad Pro", Arial-narrow, Sans-Serif;
		margin:0.18em 0 0 0; /*tweaked feb 2014*/
		padding:0;
		font-weight:normal;
		letter-spacing:0.02em;
		color:#006da1;
}
    h2.afterslim2 {
        line-height:1.15em; /*added feb 2014*/
        text-align:center;
        font-size:90%;
        font-family:"Myriad Pro", Arial-narrow, Sans-Serif;
        margin:0.18em 0 0 0; /*tweaked feb 2014*/
        padding:0;
        font-weight:normal;
        letter-spacing:0.02em;
        color:#006da1;
}
    p.therm {
		font-family: Arial, Helvetica, sans-serif;
		font-size:77%;
		letter-spacing:0.01em;
		color:#454545;
		line-height:1.30em;
		margin:.4em 0 .5em 0;
        padding:0;
}
	p.therm a, a:active {
		color:#0099dc;
		text-decoration:underline;
		font-weight:normal;
}
	p.therm a:visited {
		color:006da1;
}		
	p.therm a:hover {
		color:#75a534;
		background:none;
		text-decoration:underline;
}

    p.therm span.head {
		color:#006da1;
		font-weight:bold;
}
    p.therm span.slimmer {
		font-size:94%;
}
    p.therm span.slimmer a, p span.slimmer a:visited {
		text-decoration: none;
		font-weight:normal;
}
	p.therm span.slimmer a:active {
		color:#fe57a1;
}
	p.therm span.slimmer a:hover {
		font-weight:normal;
		text-decoration:underline;
}

    p.therm span.bigger {
		font-size:110%;
		line-height:1.6em;
		color:#006da1;
		font-weight:bold;
}
    p.therm span.bigger a, p span.bigger a:visited {
		text-decoration: none;
		font-weight:bold;
}
	p.therm span.bigger a:active {
		color:#fe57a1;
}
	p.therm span.bigger a:hover {
		font-weight:normal;
		text-decoration:underline;
}
    p.therm span.slimnav {
		font-size:74%;
		text-transform:uppercase;
}
    p.therm span.slimnav a, p span.slimnav a:visited {
		text-decoration: none;
		font-weight:normal;
}
	p.therm span.slimnav a:active {
		color:#fe57a1;
}
     p.therm span.slimnav a:hover {
		font-weight:normal;
		text-decoration:underline;
}

/* begin 2013 celebratory modifications*/

.usual_slim1over50 {
	margin:0;width:480px;height:76px;padding:0.35em 0 0.35em 0.75em;border:1px solid #dfdfdf;background:url(./over50_moo_show.gif) left no-repeat #ffffff;background-position:5px 6px;
} /*2013, when the show reaches halfway to the goal*/

#therm_containerfp_after {
	width:502px;height:80px;/*fp padding edited Feb 2013: This affects the pledge button position, much better balance.*/padding:3px 0 0 30px;
position: relative;background:url(./after_wag_moo.gif) left no-repeat #ffffff;background-position:6px 6px; border:none;
} /*wfmu home page version, after the total goal is met*/

#therm_container_after {
	width:492px;height:80px;padding:3px 0;margin:0 8px;position: relative;background-position:6px 6px; border:1px solid #dfdfdf;
}/*elsehwere version*/

/* end 2013 celebratory modifications*/

/* celebratory */

.station_wide#therm_container_after {
	background:url(./after_wag_moo.gif) left no-repeat #ffffff;
	background-position: 6px 6px;
}
.program#therm_container_after {
	background:url(./after_wag_moo_show.gif) left no-repeat #ffffff;
	background-position: 6px 6px;
}

.after_slim {left:130px;top:42px;width:360px;height:30px;display:table;position:absolute;}

.after_slimfp {left:130px;top:42px;width:360px;height:30px;display:table;position:absolute;}

p.afterslim_wag {
	font-size:90%;font-family:"Myriad Pro", Arial-narrow,Sans-Serif;padding:0;font-weight:normal;letter-spacing:0.02em;color:#006da1;display:table-cell;vertical-align: middle;text-align: center;
}
/* end celebratory */

/* celeb jm */
#therm_containerjm_after {
	   width:492px;height:80px;padding:3px 0;position: relative;background:url(./after_jm.gif) left no-repeat #ffffff;background-position:6px 6px; border:1px solid #dfdfdf;
}/*elsehwere version*/

.afterjm_slim {left:130px;top:42px;width:360px;height:30px;display:table;position:absolute;}

p.afterslimjm {
	   font-size:90%;font-family:"Myriad Pro", Arial-narrow, Sans-Serif;padding:0;font-weight:normal;letter-spacing:0.02em;color:#006da1;display: table-cell;vertical-align: middle;text-align: center;
}
/* end celeb jm */
